/* html, body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  margin:0;
  padding:0;
  position: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
 @import url('https://fonts.googleapis.com/css2family=Creepster&family=Inconsolata:wght@200&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/arcade-classic');
} */

/*พื้นหลังส่วน3 */
.pic4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  top: 211.5%; /*ตำแหน่งรูป  */
  left: 0%; /*ตำแหน่งรูป  */
  position: absolute;
}

.card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /*ขนาดรูป  */
  height: 50%; /*ขนาดรูป  */
  transform:translatey(5em);
  transition:all .5s;
}

#card-1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  height: 38%;
  top: 240%; /*ตำแหน่งรูป  */
  right: 72%; /*ตำแหน่งรูป  */
  float:left ;
  position: absolute;
}

.card-side{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:141%;
  backface-visibility: hidden;
  box-shadow: 
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

.card-inner{
  transform-style: preserve-3d;
  position:absolute;
  width:100%;
  height:100%;
  transition:transform 1s;
  transform: rotateY(0deg);
}

.card-front1{
  background-image: url("https://cdn.discordapp.com/attachments/957341571106373693/972800052525404211/7b.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-back1{
  background-image: url("https://cdn.discordapp.com/attachments/957341571106373693/977622078469586944/4b.png");
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#card-2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  height: 38%;
  top: 240%; /*ตำแหน่งรูป  */
  right: 42%; /*ตำแหน่งรูป  */
  float:left ;
  position: absolute;
}

.card-front2{
  background-image: url("https://cdn.discordapp.com/attachments/957341571106373693/972800053112631296/8b.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-back2{
  background-image: url("https://cdn.discordapp.com/attachments/957341571106373693/977622069133058099/5b.png");
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#card-3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  height: 38%;
  top: 240%; /*ตำแหน่งรูป  */
  right: 12%; /*ตำแหน่งรูป  */
  float:left ;
  position: absolute;
}

.card-front3{
  background-image: url("https://cdn.discordapp.com/attachments/957341571106373693/972800053414600724/9b.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-back3{
  background-image: url("https://cdn.discordapp.com/attachments/957341571106373693/977622057569357934/6b.png");
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card:hover .card-inner{
/*   transform:rotateY(180deg) rotateZ(540deg) scale(1.1); */
  transform: rotateY(180deg);
  transition:all 1.5s;
}
